*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Alexandria;
}

body{
    background-image: url(imagens/fundo\ cinza.png);
display: flex;
background-repeat: no-repeat;
background-size: cover;

justify-content: space-around;


gap: 50px;

}
.esquerdo>img{
margin-top: 20%;
  width: 400px;
  border-radius: 30px;
}

.logo{
    text-align: center;
    margin:auto ;
    align-items: center;
}

hr{
    color:  #430101;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
    border-color: #430101;
   
}
h1{
    color: #430101;
    
    font-weight: 400;
    font-size: 64px;
}
input{
    border-radius: 20px;
    height: 60px ;
    margin-bottom: 20px;
    color: #430101;
    border: solid  #430101;
    width: 80%;
 
}
form{
    display: block;
    text-align: center;

}
#radio{
  width: auto;  
  margin-bottom: 0;
  height: 15px;

text-align: left;
}
.lembre{
    text-align: left;
    margin-left: 60px;
    color: #430101;
}
.button{
   text-align: center;
}
button{
  color: #430101;
    background:none;
    border-radius: 15px;
       padding: 10px;
       width: 200px;
       margin-top: 30px;
}
a{
    color: #000;
   
}
.final{
    text-align: center;
}
.entrar{
    margin-top: 30px;
}